@import url("https://use.typekit.net/ylg0ybk.css");

body {
  background: #141414;
  margin: 0;
  font-family: 'brandon-grotesque', 'sans-serif';
}

#map {
  height: 100vh;
  width: 100vw;
}

.hidden {
	display: none;
}

.mapboxgl-popup-close-button {
  font-size: 16px;
  color: #fff;
}
.mapboxgl-popup-content {
  padding: 20px 25px 15px 20px;
  color: #fff;
  background-color: #175641;
}
.mapboxgl-popup-content h3 {
  margin-top: 0;
  margin-bottom: 4px;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #175641;
}

/*
.info {
	display: none;
}
*/

/*
/*media quaries*
/*tablet*
@media only screen and (min-width: 480px) and (max-width: 991px){

}

/*desktop*
@media only screen and (min-width: 992px){
	body {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.info h1 {
		color: #FFFFFF;
	}

	.info {
		display: flex;
		justify-content: center;
		background-color: #1D1D1D;
		border-radius: 3em;
		padding: 3em;
		margin-left: 15%;
	}

	#map {
	  height: 70vh;
	  width: 45vw;
	  /*border-radius: 2em;*
	  margin-top: 7em;
	  margin-bottom: 7em;
	  margin-right: 7em;
	  
	}
}
*/