@import url("https://use.typekit.net/ylg0ybk.css");

body {
  background: #141414;
  margin: 0;
  font-family: 'brandon-grotesque', 'sans-serif';
}

#map {
  height: 100vh;
  width: 100vw;
}

.hidden {
	display: none;
}

.mapboxgl-popup-content {
  padding: 15px;
  color: #fff;
  background-color: #1A1A1A;
  font-family: 'brandon-grotesque', 'sans-serif';
  text-align: center;
  box-shadow: 3px 3px 2px #272727;
}

.mapboxgl-popup-content h1 {
  font-style: italic;
  margin: 0;
}

.mapboxgl-popup-content p {
  margin: 0;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #1A1A1A;
}

/*
.info {
	display: none;
}
*/

body {
		display: flex;
		flex-direction: column;
		/*justify-content: space-between;*/
		align-items: center;
		justify-content: center;
		height: 100%;
		overflow: hidden;
	}

	.info {
		color: #FFFFFF;
		text-align: center;
	}

	.info h1, .info p {
		/*display: flex;
		justify-content: center;
		background-color: #1D1D1D;
		border-radius: 3em;
		padding: 3em;
		margin-left: 15%;*/
		margin: 0;
	}

	.info h1 {
		font-size: 1.8em;
	}

	.info p {
		font-size: 1em;
		margin-bottom: 1.2em;
	}

	.logo img {
		width: 40%;
		margin-left: 1.7em; /*door die X van SpaceX lijkt het anders of het logo niet gecentreerd staat*/
		/*margin-top: 1em;*/
	}

	#map {
	  height: 85vh;
	  width: 100vw;
	  /*border-radius: 2em;*/
	  /*margin-top: 5em;*/
	  /*margin-bottom: 7em;*/
	  /*margin-right: 7em;*/
	}

/*media quaries*/
@media only screen and (max-width: 480px){
	/*in een mediaquerie want anders op elke schermgrootte niet zichtbaar*/
	.logo img {
		display: none;
	}
}

/*tablet*/
@media only screen and (min-width: 480px) and (max-width: 991px){
	body {
		display: flex;
		flex-direction: column;
		/*justify-content: space-between;*/
		align-items: center;
		justify-content: center;
	}

	.info {
		color: #FFFFFF;
		text-align: center;
	}

	.info h1, .info p {
		/*display: flex;
		justify-content: center;
		background-color: #1D1D1D;
		border-radius: 3em;
		padding: 3em;
		margin-left: 15%;*/
		margin: 0;
	}

	.info h1 {
		font-size: 3em;
	}

	.info p {
		font-size: 1.1em;
	}

	.logo img {
		width: 30%;
		margin-left: 1.7em; /*door die X van SpaceX lijkt het anders of het logo niet gecentreerd staat*/
		margin-top: 1em;
	}

	#map {
	  height: 60vh;
	  width: 80vw;
	  /*border-radius: 2em;*/
	  margin-top: 5em;
	  /*margin-bottom: 7em;*/
	  /*margin-right: 7em;*/
	}
}

/*desktop*/
@media only screen and (min-width: 992px){
	body {
		display: flex;
		flex-direction: row;
		/*justify-content: space-between;*/
		align-items: center;
		justify-content: center;
	}

	.info {
		color: #FFFFFF;
		text-align: center;
	}

	.info h1, .info p {
		/*display: flex;
		justify-content: center;
		background-color: #1D1D1D;
		border-radius: 3em;
		padding: 3em;
		margin-left: 15%;*/
		margin: 0;
	}

	.info h1 {
		font-size: 3em;
	}

	.info p {
		font-size: 1.1em;
	}

	.logo img {
		width: 50%;
		margin-left: 1.7em; /*door die X van SpaceX lijkt het anders of het logo niet gecentreerd staat*/
	}

	#map {
	  height: 70vh;
	  width: 60vw;
	  /*border-radius: 2em;*/
	  margin-top: 9em;
	  /*margin-bottom: 7em;*/
	  margin-right: 7em;
	}
}
